:root{
    --main-color : #00DEA3 ; 
    --second-color : #16294D;
}
::selection{
    background-color: var(--main-color);
}

.main-login{
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    background:linear-gradient( to right , rgb(223,221,221) , var(--main-color) 60% );
}

.login-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 70%;
    background: linear-gradient(to right bottom , rgba(236, 236, 236) , var(--main-color) 90% );
    border-radius: 1rem;
    margin: 3.5rem auto;
    box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58,57,57);
}

.left-side,.right-side{
    z-index: 1;
    margin: 2rem 2rem;
    box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58,57,57);
    height: 80%;
    width: 100%;
    
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-class{
    display: flex;
    justify-content:start;
    height: 4rem;
    margin-top: -1rem;
    margin-left: 3rem;
    margin-bottom: 4px;
}

#img{
    height: 100%;
    object-fit: cover;
}

form{
    margin-top: 2.5rem;
}


input[type=email],[type=password],[type=text]{
    display: block;
    border: none;
    height: 2rem;
    width: 70%;
    margin : auto;
    margin-bottom: 1.5rem;
    padding: 0.2rem 1rem;
    transition: all 0.1s ease-in-out;
    border-radius: 10px;
    font-weight: 600;
    color: var(--second-color);
    font-size: smaller;
}

input[type = email],[type = password],[type=text]:focus{
    outline: none;
    border: none;
    box-shadow: 6px 6px 6px -1px var(--second-color);
}

span {
    cursor: pointer;
}
label {
    display: block;
    margin: auto;
    text-align: left;
    width: 77%;
    font-weight: 600;
    color: black;
    margin-bottom: 0.5rem; 
}

#submit{
    width: 40%;
    background-color: var(--second-color);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-in;
}

.password span{
    position: relative;
    bottom: 55px;
    left: 33%;
}
#submit:hover{
    background-color: var(--second-color);
    box-shadow: 0.4px 0.5px 6px -3px var(--second-color) ;
    transform: scale(1.05);
}

.welcome h3 {
    margin-left: 1rem;
    color: var(--second-color)  ;
    float: left;
    margin-bottom: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
/* .welcome-img{
    width: 60%;
    height: 50%;
} */
#welcomin{
    width: 80%;
    object-fit: cover;
}

@media only screen and (max-width: 1000px) {
    .right-side {
        display: none;
    }
    .login-contain{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: 90%;
        background: linear-gradient(to right bottom , rgba(236, 236, 236) , var(--main-color) 90% );
        border-radius: 1rem;
        margin: 3.5rem auto;
        box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58,57,57);
    }
    
  }